<!-- <ion-header>
    <ion-title>login</ion-title>
</ion-header> -->

<ion-content *ngIf="auth.user.username === ''">
  <div class="my-container">
    <form #f="ngForm" (submit)="auth.login(f)">

      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input required type="text" [ngModel] name="username" placeholder="Inserisci qui il tuo username..."></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <div id="password">
          <ion-input required [type]="showPassword === true? 'text': 'password'"[ngModel] name="password" placeholder="Inserisci qui la tua password..."></ion-input>
          <ion-icon (click)="handlePassword()" name="eye" *ngIf="showPassword === false"></ion-icon>
          <ion-icon (click)="handlePassword()" name="eye-off" *ngIf="showPassword === true"></ion-icon>
        </div>

      </ion-item>

      <ion-button [disabled]="f.invalid" slot="end" type="submit" class="ion-no-margin">Accedi</ion-button>
    </form>
  </div>
</ion-content>
